#hero_home {
  background-image: url('/images/hero_home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#circle_home {
  background-image: url('/images/circle_home.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
